.Foundation {
    /* width as variable from .tsx */
    height: 100px;
    position: fixed;
    top: 15px;
    left: 15px;
    border-radius: 50px;
    border: 0.5px solid var(--light-transparent);
    box-shadow: 0px 5px 5px var(--dark-transparent);
    backdrop-filter: blur(50px);
    display: flex;
    align-items: center;
    justify-content: baseline;
    transition: all 0.5s ease;
    z-index: 2;
}
.LogoCollapse {
    background-color: rgba(0,0,0,0);
    min-width: 100px;
    min-height: 100px;
    border: none;
}
.LogoSize {
    width: 50px;
    height: auto;
}
.PayPalInfoView {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.InfoTagItem {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    height: 25px;
    margin: 15px;
}
.ShowQRCodeButton {
    width: 100%;
    height: 30px;
    background-color: var(--dark-transparent);
    color: var(--theme);
    transition: all 0.15s ease;
    border: none;
    border-radius: 15px;
    font-size: medium;
}
.ShowQRCodeButton:hover {
    color: var(--light);
    cursor: pointer;
}
.ShowQRCodeButton:active {
    color: var(--light);
    box-shadow: inset 0px 0px 5px var(--dark);
}