.Foundation {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0,0,0,0.5);
}
.ScanView {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 2.5px solid var(--dark);
    border-radius: 10px;
    background-color: var(--dark-background);
}
.Header {
    position: absolute;
    top: 5px;
}
.QRCodeAppearance {
    width: 350px;
    height: auto;
}
.CloseButton {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}