.Foundation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 600px;
    border: 1px solid var(--light-transparent);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 10px 5px var(--dark-transparent);
    margin: 15px;
}
@media (max-width: 1024px) {
.Foundation {
    width: 95vw;
    height: 55vw;
}}

.TitleContainer {
    position: relative;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    color: var(--light);
    z-index: 1;
    background-color: var(--dark);
}
@media (max-width: 1024px) {
.TitleContainer {
    width: 10vw;
}}
    .TitleText {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
        width: 600px;
        text-transform: uppercase;
        transform: rotate(-90deg);
        user-select: none;
    }
    @media (max-width: 1024px) {
    .TitleText {
        width: 60vw;
        font-size: 4vw;
    }}

.ImageAndNavigationContainer {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--dark);
    backdrop-filter: blur(15px);
}
    .ImageContainer {
        display: flex;
        margin: 15px;
    }
    @media (max-width: 1024px) {
    .ImageContainer {
        margin: 1.5vw;
    }}
    .ImageSize {
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
        object-fit: contain;
        border-radius: 5px;
    }
    @media (max-width: 1024px) {
    .ImageSize {
        border-radius: 0.5vw;

    }}
    .NavigationBarContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    @media (max-width: 1024px) {
    .NavigationBarContainer {
        height: auto;
    }}
        .DownloadButton {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 175px;
            height: 40px;
            margin: 15px;
            background-color: var(--dark);
            border: 1px solid var(--theme);
            border-radius: 20px;
            color: var(--theme);
            font-size: 15px;
            transition: all 0.1s ease;
            text-shadow: none;
            user-select: none;
        }
        @media (max-width: 1024px) {
        .DownloadButton {
            width: 17.5vw;
            height: 4vw;
            margin: 1.5vw;
            margin-top: 0;
            border-width: 0.1vw;
            border-radius: 2vw;
            font-size: 1.5vw;
        }
        }
        .DownloadButton:hover {
            background-color: var(--theme);
            color: var(--dark);
            text-decoration: none;
        }
        .DownloadButton:hover .DownloadIcon {
            fill: var(--dark);
        }
        .DownloadButton:active {
            box-shadow: inset 0px 0px 5px var(--dark);
        }
        .LinkToWeblogButton {
            width: 175px;
            height: 40px;
            margin: 15px;
            background-color: var(--dark);
            border: 1px solid var(--theme);
            border-radius: 20px;
            color: var(--theme);
            font-size: 15px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            user-select: none;
        }
        @media (max-width: 1024px) {
        .LinkToWeblogButton {
            width: 17.5vw;
            height: 4vw;
            margin: 1.5vw;
            margin-top: 0;
            border-width: 0.1vw;
            border-radius: 2vw;
            font-size: 1.5vw;
        }}
        .LinkToWeblogButton:hover {
            color: var(--theme-hover);
            text-decoration: underline;
            cursor: pointer;
        }
        .DownloadIcon,
        .TurnPageIcon
        {
            fill: var(--theme);
            width: 20px;
            height: auto;
            transition: fill 0.2s ease; /* <- add this */
        }
        @media (max-width: 1024px) {
        .DownloadIcon,
        .TurnPageIcon
        {
            width: 2vw;
        }}

