.Foundation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MainView {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}
.BottomMargin {
  height: 75px;
}

.FooterView {
  z-index: 1;
  position: fixed;
  bottom: 0;
  height: 75px;
}