.Foundation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.MainView {
  height: calc(100vh - 75px); /* 75vh - FooterView height */
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.FooterView {
  height: 75px;
}