*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

:root {
  padding: 0px;
  margin: 0px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme-font: "Smythe", serif;
  --theme: rgb(150, 150, 200);
  --theme-hover: rgb(200, 200, 250);
  --dark: rgb(15, 20, 25);
  --dark-transparent: rgba(15, 20, 25, 0.5);
  --dark-background: #242424;
  --light: rgb(225, 220, 215);
  --light-transparent: rgb(225, 220, 215, 0.25);
}

p, h1 {
  padding: 0px;
  margin: 0px;
  color: var(--light);
  text-shadow: 0px 2.5px 2.5px var(--dark);
}
a {
  color: var(--theme);
  text-decoration: none;
  text-shadow: 0px 2.5px 2.5px var(--dark);
}
a:hover {
  color: var(--theme-hover);
  text-decoration: underline;
}
br {
  margin: 15px;
}